.footer 
{
    padding: 3rem 1.5rem 0rem;
}
.footer_block_one p{
    color: #040869;  
    
}
.footer h4 
{
    color: #040869;
    margin-bottom: 18px;
    font-weight: 500;
}
.footer_block_three p a
{
    color: #040869;
}
.footer_block_three p
{
    margin-bottom: 12px;
}
.copy_rights p{
    color: #040869;
}
.footer_block_four p 
{
    color: #040869;
}
.welcome_block h1, .welcome_block p, .welcome_block li
{
    color: #040869;
}
.welcome_block h1 
{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 12px;
}
.welcome_block 
{
    margin-top: 6%;
}
.welcome_block .content 
{
    font-size: 14px;
line-height: 26px;
text-align: left;
color: #040869;
}
.venu_detail  
{
    margin-bottom: 2em;
}
.venu_detail ul li p 
{
    color: #040869;
}
.venu_content p 
{
    font-weight: 600;
}
.venu_detail ul li 
{
    border-right: 1px solid rgba(4, 8, 105, 0.7);
    float: left
}
.venu_detail ul li:last-child,  .venu_detail ul li:nth-child(3){
    border-right: 0px solid rgba(4, 8, 105, 0.7);
}
.venu_content_space 
{
    padding: 4px 20px;
}
.venu_content_space img
{
    width: 25px;
    height: 25px;
margin-right: 5px;
}
.pl-0 
{
    padding-left: 0px;
}
.venu_detail ul 
{
    overflow: hidden;
}
.button.is-primary  
{
background-color: #FCD704 !important;
color: #040869;
}
.h1_title h1 span:first-child 
{
    color: #FCD704;
}
.h1_title h1 span:nth-child(2) 
{
    color: #040869;
}
.h1_title h1 
{
    border-bottom: 2px solid #040869;
display: inline;
padding-bottom: 4px;

}

.welcome_main_title h3 span:first-child ,  .welcome_main_title h3 span:nth-child(3) 

{
    color: #040869;
}
.welcome_main_title h3 span:nth-child(2) 
{
    color: #FCD704;
}
.welcome_main_title h3 
{
    font-weight: 500;
}
.welcome_block_img 
{
    width: 136px;
object-fit: contain;
vertical-align: middle;

}
.mt-3 
{
    margin-top: 3%;
}